#cart-section {
  padding: 5rem 0;
}
.cart-container {
  display: flex;
  gap: 3rem;
}

.cart-container .cart-left {
  flex: 2;
}

.cart-title {
  display: flex;
  justify-content: space-between;
  background: #f9f1e7;
  padding: 1rem 0;
  font-weight: bold;
}

.cart-product-details {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container .cart-right {
  flex: 1;
}

.cart-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  background-color: #f9f1e7;
  padding: 2rem;
}

.cart-right button {
  background: none;
  border: 0;
  padding: 0.8rem 4rem;
  border: 1px solid black;
  display: inline;
  align-self: center;
  border-radius: 1rem;
}
